# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
parallel_wavegan.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.backup/
.pytest_cache/
__pycache__/
.coverage*
coverage.xml*
.vscode*
.nfs*

# recipe related
egs/*/*/data
egs/*/*/downloads
egs/*/*/dump
egs/*/*/exp

# tools related
tools/venv/
tools/apex/
