# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
parallel_wavegan.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.backup/
.pytest_cache/
__pycache__/
.coverage*
coverage.xml*
.vscode*
.nfs*
.ipynb_checkpoints
.d000*
*.out
*.err

# recipe related
egs/*/*/data
egs/*/*/downloads
egs/*/*/dump
egs/*/*/exp
egs/*/*/conf/tuning

# tools related
tools/venv/
tools/*.done
tools/apex/
