name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: 0 0 * * 1

jobs:
  linter_and_test:
    runs-on: ubuntu-16.04
    strategy:
      max-parallel: 10
      matrix:
        python-version: [3.6]
        pytorch-version: [1.0.1, 1.1, 1.2, 1.3.1, 1.4, 1.5.1]
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ matrix.python-version }}-${{ matrix.pytorch-version }}-pip-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-${{ matrix.pytorch-version }}-pip-
      - name: Install dependencies
        run: |
          # install python modules
          python -m pip install --upgrade pip
          pip install -q -U numpy
          pip install -q torch==${{ matrix.pytorch-version }} -f https://download.pytorch.org/whl/cpu/stable.html
          pip install -q -e .
          pip install -q -e .[test]
          # install shell check
          wget https://github.com/koalaman/shellcheck/releases/download/stable/shellcheck-stable.linux.x86_64.tar.xz
          tar -xvf shellcheck-stable.linux.x86_64.tar.xz
      - name: ShellCheck
        run: |
          export PATH=shellcheck-stable:$PATH
          find egs -name "*.sh" | while read line; do shellcheck -x --shell=bash -P $(dirname $line) ${line}; done
      - name: Flake8
        run: |
          flake8 parallel_wavegan
      - name: Pytest
        run: |
          pytest test

  integration:
    runs-on: ubuntu-18.04
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.7]
        pytorch-version: [1.5.1]
        config:
          - "parallel_wavegan.v1.debug.yaml"
          - "melgan.v1.debug.yaml"
          - "melgan.v3.debug.yaml"
          - "multi_band_melgan.v1.debug.yaml"
          - "parallel_wavegan.v1.debug.npy.yaml"
          - "parallel_wavegan.v1.debug.diff_fs.yaml"
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ matrix.python-version }}-${{ matrix.pytorch-version }}-pip-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-${{ matrix.pytorch-version }}-pip-
      - name: Install dependencies
        run: |
          sudo apt-get install libsndfile-dev jq
          # install python modules
          python -m pip install --upgrade pip
          pip install -q -U numpy
          pip install -q torch==${{ matrix.pytorch-version }} -f https://download.pytorch.org/whl/cpu/stable.html
          pip install -q -e .
      - name: Integration
        run: |
          cd egs/yesno/voc1 && ./run.sh --conf conf/${{ matrix.config }}
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: artifacts-${{ matrix.config }}
          path: egs/yesno/voc1
